﻿@model SUAREZ_T3.WEB.Models.Historia
@{
    ViewData["Title"] = "Crear";
}

<h2 class="text-info">Crear nueva Historia</h2>
@ViewBag.error
<div class="border">
    <form method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="container" style="padding:30px;">
            <div class="form-group row">
                <div class="col-2">
                    <label asp-for="CodigoRegistro">Código de Registro</label>
                </div>
                <div class="col-5">
                    <input asp-for="CodigoRegistro" class="form-control" />
                </div>
                <span asp-validation-for="CodigoRegistro" class="text-danger"></span>
            </div>

            <div class="form-group row">
                <div class="col-2">
                    <label asp-for="Fecha"></label>
                </div>
                <div class="col-5">
                    <input asp-for="Fecha" class="form-control" />
                </div>
                <span asp-validation-for="Fecha" class="text-danger"></span>
            </div>

            <div class="form-group row">
                <div class="col-2">
                    <label asp-for="NombreMascota"></label>
                </div>
                <div class="col-5">
                    <input asp-for="NombreMascota" class="form-control" />
                </div>
                <span asp-validation-for="NombreMascota" class="text-danger"></span>
            </div>

            <div class="form-group row">
                <div class="col-2">
                    <label asp-for="FechaNacimientoMascota"></label>
                </div>
                <div class="col-5">
                    <input asp-for="FechaNacimientoMascota" class="form-control" />
                </div>
                <span asp-validation-for="FechaNacimientoMascota" class="text-danger"></span>
            </div>

            <div class="form-group row">
                <div class="col-2">
                    <label asp-for="Sexo"></label>
                </div>
                <div class="col-5">
                    <select asp-for="Sexo" class="form-control">
                        <option value="">Seleccione una opción</option>
                        <option>Masculino</option>
                        <option>Femenino</option>
                    </select>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-2">
                    <label asp-for="EspecieId"></label>
                </div>
                <div class="col-5">
                    <select asp-for="EspecieId" asp-items="ViewBag.especiesId" class="form-control">
                        <option value="0">Seleccione una opción</option>
                    </select>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-2">
                    <label asp-for="RazaId"></label>
                </div>
                <div class="col-5">
                    <select asp-for="RazaId" asp-items="ViewBag.razaId" class="form-control">
                        <option value="0">Seleccione una opción</option>
                    </select>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-2">
                    <label asp-for="Tamanio"></label>
                </div>
                <div class="col-5">
                    <input asp-for="Tamanio" class="form-control" />
                </div>
            </div>

            <div class="form-group row">
                <div class="col-2">
                    <label asp-for="DatosParticulares"></label>
                </div>
                <div class="col-5">
                    <textarea asp-for="DatosParticulares" class="form-control"></textarea>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-2">
                    <label asp-for="NombrePropietario"></label>
                </div>
                <div class="col-5">
                    <input asp-for="NombrePropietario" class="form-control" />
                </div>
                <span asp-validation-for="NombrePropietario" class="text-danger"></span>
            </div>

            <div class="form-group row">
                <div class="col-2">
                    <label asp-for="DireccionPropietario"></label>
                </div>
                <div class="col-5">
                    <input asp-for="DireccionPropietario" class="form-control" />
                </div>
                <span asp-validation-for="DireccionPropietario" class="text-danger"></span>
            </div>

            <div class="form-group row">
                <div class="col-2">
                    <label asp-for="Telefono"></label>
                </div>
                <div class="col-5">
                    <input asp-for="Telefono" class="form-control" />
                </div>
                <span asp-validation-for="Telefono" class="text-danger"></span>
            </div>

            <div class="form-group row">
                <div class="col-2">
                    <label asp-for="Email"></label>
                </div>
                <div class="col-5">
                    <input asp-for="Email" class="form-control" />
                </div>
            </div>

            <div class="form-group row">
                <div class="col-sm-2 offset-2">
                    <input type="submit" class="btn btn-primary form-control" value="Guardar" />
                </div>
                <div class="col-sm-2">
                    <a asp-controller="historia" asp-action="index" class="btn btn-success form-control">Regresar</a>
                </div>

            </div>
        </div>
    </form>
</div>
