﻿@using SUAREZ_T3.WEB.Models;
@model IEnumerable<Historia>
@{
    ViewData["Title"] = "Index";
}

<br />
<div class="container row">
    <div class="col-6">
        <h2 class="text-info">Lista de Historias</h2>
    </div>
    <div class="col-6 text-right">
        <a asp-controller="historia" asp-action="crear" class="btn btn-primary">Crear nueva Historia</a>
    </div>
</div>

<table class="table table-striped border">
    <tr>
        <th>
            @Html.DisplayNameFor(c => c.CodigoRegistro)
        </th>
        <th>
            @Html.DisplayNameFor(c => c.Fecha)
        </th>
        <th>
            @Html.DisplayNameFor(c => c.NombreMascota)
        </th>
        <th>
            @Html.DisplayNameFor(c => c.FechaNacimientoMascota)
        </th>
        <th>
            @Html.DisplayNameFor(c => c.Sexo)
        </th>
        <th>
            @Html.DisplayNameFor(c => c.Tamanio)
        </th>
        <th>
            @Html.DisplayNameFor(c => c.DatosParticulares)
        </th>
        <th>
            @Html.DisplayNameFor(c => c.NombrePropietario)
        </th>
        <th>
            @Html.DisplayNameFor(c => c.DireccionPropietario)
        </th>
        <th>
            @Html.DisplayNameFor(c => c.Email)
        </th>
        <th>
            @Html.DisplayNameFor(c => c.EspecieId)
        </th>
        <th>
            @Html.DisplayNameFor(c => c.RazaId)
        </th>
    </tr>
    @foreach (var item in Model)
    {
<tr>
    <td>@item.CodigoRegistro</td>
    <td>@item.Fecha</td>
    <td>@item.NombreMascota</td>
    <td>@item.FechaNacimientoMascota</td>
    <td>@item.Sexo</td>
    <td>@item.Tamanio</td>
    <td>@item.DatosParticulares</td>
    <td>@item.NombrePropietario</td>
    <td>@item.DireccionPropietario</td>
    <td>@item.Email</td>
    <td>@item.Especie.NombreEspecie</td>
    <td>@item.Raza.NombreRaza</td>
        
</tr>
    }
</table>

