﻿@using System.Security.Claims
@{
    var user = User.FindFirst(ClaimTypes.Name);
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SUAREZ_T3.WEB</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">SUAREZ_T3.WEB</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="home" asp-action="index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="historia" asp-action="index">Historias</a>
                        </li>
                        @if (@user == null)
                        {
                            <ul class="nav navbar-nav menu_nav ml-auto mr-auto">
                                <li class="nav-item"><a class="nav-link" asp-controller="usuario" asp-action="Login">Ingresar</a></li>
                            </ul>
                        }
                        else
                        {
                            <ul class="nav navbar-nav menu_nav ml-auto mr-auto">
                                <li class="nav-item">
                                    <a class="nav-link" asp-controller="home"
                                       asp-action="index">Bienvenido @user.Value</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" asp-controller="usuario"
                                       asp-action="Logout">Logout</a>
                                </li>

                            </ul>
                        }
                    </ul>

                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - SUAREZ_T3.WEB - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
